@font-face {
  font-family: 'zz';
  src: url("../font/fontname.ttf");
}

*{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
  width: 100%;
}
#container{
  width: 100%;
  height: 100%;
  position: absolute;


}
#img {
  background-image: url("../imgs/background.png");
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-position:right bottom;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
    background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed
}
.wind{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0

}
#target {
  position: absolute;
  width:100px;
  height:200px;
  left: 70%;
  top: 100px;
}
/*滑块*/
#slider-container{
  position: absolute;
  float: right;
  right: 20px;
  top:0px;
  width: 200px;
  height: 200px;
}

#canvas {
  /*border:2px solid gray; box-shadow:0px 0px 2px 2px #494949;*/
  /*background: aqua;*/
}