<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nan.mybatis2.mapper.TestMapper">
    <!--    public Employee getEmpById(Integer id);

     public void insertEmp(Employee employee);-->
    <select id="getTest" resultType="com.nan.mybatis2.bean.Test">
        SELECT * FROM test WHERE id=#{id}
    </select>

    <insert id="InsertTest">
        INSERT INTO test(value_name) VALUES (#{valueName})
    </insert>
</mapper>